.story {
    position: relative;
    width: 100%;
    box-shadow: 0 3rem 6rem $shadow-2;
    background-color: $dirty-white;
    border-radius: 1rem;
    padding: 4rem 6rem 4rem 11rem;
    transition: all .3s;
    backface-visibility: hidden;

    &:hover {
        transform: translateX(2rem);
        transform: scale(1.05);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        position: absolute;
        top: 50%;
        left: -7rem;
        transform: translateY(-50%);
        // clip-path: circle(50% at 50% 50%);
        border-radius: 50rem;
        transition: all .3s;
        backface-visibility: hidden;
    }

    &__img {
        height: 100%;
        border-radius: 50rem;
        border: 5px solid $dirty-white;
        box-shadow: 0 1rem 2rem $shadow-4;
    }

    &__paragraph {
        text-align: justify;
    }

    &:hover &__shape {
        left: -8rem;
    }

}