// Margins

.u-margin-botom-2 {
    margin-bottom: 2rem;
}

.u-margin-botom-4 {
    margin-bottom: 4rem;
}

.u-margin-botom-6 {
    margin-bottom: 6rem;
}

.u-margin-botom-8 {
    margin-bottom: 8rem;
}

.u-margin-botom-10 {
    margin-bottom: 10rem;
}

// Text Align
.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

// Padding

.p-r-3 {
    padding-right: 3rem;
}


// Bootstrap Container

.bs-no-padding {
    padding: 0;
}

.row {
    margin-bottom: 6rem;
}

[class^='col'] {
    margin-bottom: 2rem;
}


.box {
    height: 50rem;
    width: 100%;
    border: 2px dashed red;
}