.u-margin-botom-2 {
    margin-bottom: 2rem;
}

.u-margin-botom-4 {
    margin-bottom: 4rem;
}

.u-margin-botom-6 {
    margin-bottom: 6rem;
}

.u-margin-botom-8 {
    margin-bottom: 8rem;
}

.u-margin-botom-10 {
    margin-bottom: 10rem;
}


.bs-no-padding {
    padding: 0;
}