// COLORS
$white: #fff;
$black: #000;
$grey: #777;
$dirty-white: #f4f4f4;
$light-grey: #F9F8F8;
$light-grey-1: #D5D5D5;
$dark-grey: #29323c;
$grey-text: #646464;
$text: #4e4a67;

// PALLETTE

$color-orange-1: #fc6076;
$color-orange-2: #ff9a44;

$color-blue-1: #0acffe;
$color-blue-2: #495aff;

$color-purple-1: #667eea;
$color-purple-2: #764ba2;

$color-1: #CFF4D2;
$color-2: #7BE495;
$color-3: #56C596;
$color-4: #329D9C;
$color-5: #205072;
$color-6: #4EFFBB;
// SHADOWS
$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);
$shadow-4: rgba(0, 0, 0, 0.4);
$shadow-6: rgba(0, 0, 0, 0.6);
$shadow-8: rgba(0, 0, 0, 0.8);

// FONTS
$default-text-size: 1.8rem;

// GRADIENTS
$green-gradient: linear-gradient(147deg, $color-2, $color-3);
$orange-gradient: linear-gradient(147deg, $color-orange-1, $color-orange-2);
$blue-gradient: linear-gradient(147deg, $color-blue-1, $color-blue-2);
$purple-gradient: linear-gradient(147deg, $color-purple-1, $color-purple-2);
$light-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$silver-gradient: linear-gradient(147deg, #e6e9f0 0%, #eef1f5 100%);