// COLORS
$white: #fff;
$black: #000;
$grey: #777;
$dirty-white: #f4f4f4;
$light-grey: #F9F8F8;
$light-grey-1: #D5D5D5;
$dark-grey: #29323c;
$grey-text: #646464;
$text: #4e4a67;

// PALLETTE

$color-orange-1: #f6d365;
$color-orange-2: #fda085;

$color-1: #CFF4D2;
$color-2: #7BE495;
$color-3: #56C596;
$color-4: #329D9C;
$color-5: #205072;
// SHADOWS
$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);
$shadow-4: rgba(0, 0, 0, 0.4);
$shadow-6: rgba(0, 0, 0, 0.6);
$shadow-8: rgba(0, 0, 0, 0.8);

// FONTS
$default-text-size: 1.8rem;


// GRADIENTS
$green-gradient: linear-gradient(147deg, $color-2, $color-3);
$orange-gradient: linear-gradient(147deg, $color-orange-2, $color-orange-1);