// ABOUT SECTION
.about-section {
    background-color: $dirty-white;
    padding: 25rem 0;
    margin-top: -20vh;

    // * testing
    // border: 3px solid red;
}

// FEATURES SECTION
.features-section {
    background-color: $dirty-white;
    padding: 25rem 10rem;
    background-image:
        linear-gradient(to right bottom,
        rgba($color-2, .7),
        rgba($color-3, .9)),
        url('../img/feature-bg.jpg');
    background-size: cover;
    background-position: center;

    // Media Queries
    @include respond(media-sm) {
        padding: 25rem 0;
    }
}

// TESTIMONIAL SECTION
.testimonial-section {
    padding: 10rem 0;
    background-image:
        linear-gradient(to right bottom,
        rgba($color-2, .7),
        rgba($color-orange-2, .9)),
        url('../img/stories-bg.jpg');
    background-size: cover;
}