.header {
    position: relative;
    height: 95vh;
    background-image:
        linear-gradient(to right bottom,
        rgba($color-2, .7),
        rgba($color-3, .3)),
        url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    @include flexCenter;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    display: flex;
    align-items: center;

    @include respond(media-sm) {
        top: 2rem;
        left: 2rem;
    }

    &__img {
        height: 8rem;
        filter: drop-shadow(0 0 1rem $shadow-2);
        margin-right: 2rem;

        @include respond(media-sm) {
            height: 6rem;
        }
    }

    &__brand {
        font-size: 4rem;
        color: $white;
        text-shadow: 0 0 1rem $shadow-6;

    }
}